* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  background-color: rgb(87, 82, 161);
  color: aliceblue;
  padding: 15px;
  text-align: center;
}

form {
  background-color: rgb(203, 201, 238);
  border: 3px solid rgb(203, 201, 238);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 80px;
  width: 100%;
}

.Card {
  background-color: rgb(203, 201, 238);
  border: 3px solid rgb(203, 201, 238);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 80px;
  width: 100%;
}
