* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  align-content: space-around;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
}

h1 {
  align-items: center;
  background-color: rgb(87, 82, 161);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 100%;
}

form {
  align-content: center;
  align-items: center;
  background-color: rgb(203, 201, 238);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

h2 {
  align-items: center;
  background-color: rgb(87, 82, 161);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 100%;
}

.Card, .list-container {
  align-content: center;
  align-items: center;
  background-color: rgb(203, 201, 238);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

input, textarea, select {
  border-radius: 20px;
}

.button {
  padding: 5px;
}
